# Core
flask==2.0.1
flask-cors==3.0.10
flask-jwt-extended==4.3.1
flask-sqlalchemy==2.5.1
python-dotenv==0.19.0

# Database
sqlalchemy==1.4.23
psycopg2-binary==2.9.1
sqlparse==0.4.2

# Utils
pydantic==1.8.2
python-jose==3.3.0
passlib==1.7.4

# Testing
pytest==6.2.5
pytest-cov==2.12.1

# Development
black==21.6b0
flake8==3.9.2
mypy==0.910